# Shirt Happens : Inverntory Database Q & A

# Setting up OpenAI api and Connection with SQL Database

In [1]:
from langchain_openai import OpenAI
from langchain.utilities import SQLDatabase
from langchain_community.utilities.sql_database import SQLDatabase
from langchain_experimental.sql import SQLDatabaseChain
from sqlalchemy import create_engine, inspect
import pandas as pd

In [3]:
api_key = ''  # Enter your own API Key from OpenAI

In [5]:
llm = OpenAI(openai_api_key= api_key,temperature=0.2)

In [27]:
Check = llm("Tell me the best stores to buy tshirts from in Finland")
print(Check)

1. Marimekko: Known for its bold and colorful designs, Marimekko offers a wide range of t-shirts for both men and women.

2. Finlayson: This Finnish brand is known for its high-quality and sustainable t-shirts, made from organic cotton.

3. Nanso: With over 90 years of experience, Nanso offers a variety of t-shirts with unique prints and designs.

4. Aarikka: This Finnish brand specializes in eco-friendly and ethically produced t-shirts, featuring nature-inspired designs.

5. Ivana Helsinki: This fashion brand offers a selection of stylish and modern t-shirts, often featuring bold prints and graphics.

6. Samuji: Known for its minimalist and timeless designs, Samuji offers a range of high-quality t-shirts for both men and women.

7. Makia: This Helsinki-based brand offers a selection of casual and comfortable t-shirts, perfect for everyday wear.

8. Costo: This brand offers a variety of t-shirts with fun and playful designs, often featuring Finnish cultural references.

9. Pure Waste: This sustainable brand offers t-shirts made from 100% recycled materials, with unique and modern designs.

10. TRE: This Helsinki-based brand offers a range of

In [9]:
import mysql.connector
from mysql.connector import Error

try:
    # Establish a database connection
    connection = mysql.connector.connect(
        host='localhost',
        user='root',
        password='Rohit@123',
        database='shirthappens'
    )

    if connection.is_connected():
        print("Connected to MySQL Server version:", connection.get_server_info())
        
        # Create a cursor object
        cursor = connection.cursor()
        
        # Get all table names
        cursor.execute("SHOW TABLES")
        tables = cursor.fetchall()

        # Print each table name and its columns
        for table in tables:
            table_name = table[0]
            print(f"\nTable: {table_name}")
            cursor.execute(f"DESCRIBE {table_name}")
            columns = cursor.fetchall()
            for column in columns:
                print(f"Column: {column[0]}, Type: {column[1]}")

except Error as e:
    print("Error while connecting to MySQL", e)

finally:
    if connection.is_connected():
        cursor.close()  # Close cursor
        connection.close()  # Close connection
        print("MySQL connection is closed")

Connected to MySQL Server version: 8.0.34

Table: discounts
Column: discount_id, Type: int
Column: t_shirt_id, Type: int
Column: pct_discount, Type: decimal(5,2)

Table: t_shirts
Column: t_shirt_id, Type: int
Column: brand, Type: enum('Marimekko','Makia','Finlayson','Halti','Dressman')
Column: color, Type: enum('Red','Blue','Black','White','Green','Yellow')
Column: size, Type: enum('XS','S','M','L','XL')
Column: price, Type: int
Column: stock_quantity, Type: int
MySQL connection is closed

In [92]:
print(db.table_info)

CREATE TABLE discounts (
	discount_id INTEGER NOT NULL AUTO_INCREMENT,
	t_shirt_id INTEGER NOT NULL,
	pct_discount DECIMAL(5, 2),
	PRIMARY KEY (discount_id),
	CONSTRAINT discounts_ibfk_1 FOREIGN KEY(t_shirt_id) REFERENCES t_shirts (t_shirt_id),
	CONSTRAINT discounts_chk_1 CHECK ((`pct_discount` between 0 and 100))
)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci

/*
3 rows from discounts table:
discount_id	t_shirt_id	pct_discount
1	1	10.00
2	2	15.00
3	3	20.00
*/


CREATE TABLE t_shirts (
	t_shirt_id INTEGER NOT NULL AUTO_INCREMENT,
	brand ENUM('Marimekko','Makia','Finlayson','Halti','Dressman') NOT NULL,
	color ENUM('Red','Blue','Black','White','Green','Yellow') NOT NULL,
	size ENUM('XS','S','M','L','XL') NOT NULL,
	price INTEGER,
	stock_quantity INTEGER NOT NULL,
	PRIMARY KEY (t_shirt_id),
	CONSTRAINT t_shirts_chk_1 CHECK ((`price` between 10 and 50))
)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci

/*
3 rows from t_shirts table:
t_shirt_id	brand	color	size	price	stock_quantity
1	Marimekko	Black	XS	15	43
2	Finlayson	Red	XL	13	95
3	Finlayson	Black	XS	47	39
*/

In [13]:
db = SQLDatabase.from_uri("mysql+pymysql://root:Rohit%40123@localhost/shirthappens")

# Initialize the OpenAI LLM (already done by you)
llm = OpenAI(openai_api_key=api_key, temperature=0.2)

# Create an SQL Database Chain
db_chain = SQLDatabaseChain.from_llm(llm, db, verbose=True)

In [14]:
# Step 1: Create the engine (replace with your correct connection string)
engine = create_engine("mysql+pymysql://root:Rohit%40123@localhost/shirthappens")

# Step 2: Use the inspector to list tables
inspector = inspect(engine)

# Get the list of table names
tables = inspector.get_table_names()

# Print the table names
print("Tables in the database:")
for table in tables:
    print(table)

Tables in the database:
discounts
t_shirts

In [17]:
# Query the table 't_shirts'
query = "SELECT * FROM t_shirts"

# Load the data into a pandas DataFrame
df_tshirts = pd.read_sql(query, engine)

# Display the DataFrame
df_tshirts

     t_shirt_id      brand   color size  price  stock_quantity
0             1  Marimekko   Black   XS     15              43
1             2  Finlayson     Red   XL     13              95
2             3  Finlayson   Black   XS     47              39
3             4   Dressman   White   XL     44              64
4             5  Finlayson   White    S     14              49
..          ...        ...     ...  ...    ...             ...
995         996   Dressman    Blue    M     17              34
996         997      Halti     Red   XS     18              81
997         998      Makia     Red    S     43              97
998         999      Makia   Green    L     28              17
999        1000  Marimekko  Yellow    L     41              66

[1000 rows x 6 columns]

In [19]:
# Query the table 'discounts'
query = "SELECT * FROM discounts"

# Load the data into a pandas DataFrame
df_discounts = pd.read_sql(query, engine)

# Display the DataFrame
df_discounts

   discount_id  t_shirt_id  pct_discount
0            1           1          10.0
1            2           2          15.0
2            3           3          20.0
3            4           4           5.0
4            5           5          25.0
5            6           6          10.0
6            7           7          30.0
7            8           8          35.0
8            9           9          40.0
9           10          10          45.0

# Running dummy queries for training

In [21]:
query1 = "How many t-shirts do we have left for Makia in extra small size and white color?"
qns1 = db_chain.invoke(query1)
print(qns1)

> Entering new SQLDatabaseChain chain...
How many t-shirts do we have left for Makia in extra small size and white color?
SQLQuery:SELECT COUNT(*) FROM t_shirts WHERE brand = 'Makia' AND size = 'XS' AND color = 'White'
SQLResult: [(11,)]
Answer:11 t-shirts
> Finished chain.
{'query': 'How many t-shirts do we have left for Makia in extra small size and white color?', 'result': '11 t-shirts'}

In [23]:
q1 = print(qns1['result'])
q1

11 t-shirts

In [25]:
query2 = "How much is the price of the inventory for all large size t-shirts?"
qns2 = db_chain.invoke(query2)
print(qns2)

> Entering new SQLDatabaseChain chain...
How much is the price of the inventory for all large size t-shirts?
SQLQuery:SELECT SUM(price * stock_quantity) AS total_price FROM t_shirts WHERE size = 'L'
SQLResult: [(Decimal('342869'),)]
Answer:The total price of the inventory for all large size t-shirts is $342,869.
> Finished chain.
{'query': 'How much is the price of the inventory for all large size t-shirts?', 'result': 'The total price of the inventory for all large size t-shirts is $342,869.'}

In [27]:
q2 = print(qns2['result'])
q2

The total price of the inventory for all large size t-shirts is $342,869.

In [29]:
query3 = "If we have to sell all the Makia T-shirts today with discounts applied. How much revenue our store will generate (post discounts)?"
qns3 = db_chain.invoke(query3)
print(qns3)

> Entering new SQLDatabaseChain chain...
If we have to sell all the Makia T-shirts today with discounts applied. How much revenue our store will generate (post discounts)?
SQLQuery:SELECT SUM(t_shirts.price - (t_shirts.price * (discounts.pct_discount / 100))) AS revenue
FROM t_shirts
INNER JOIN discounts ON t_shirts.t_shirt_id = discounts.t_shirt_id
WHERE t_shirts.brand = 'Makia' AND discounts.pct_discount > 0 AND CURDATE() = 'today'
LIMIT 5;

OperationalError: (pymysql.err.OperationalError) (1525, "Incorrect DATE value: 'today'")
[SQL: SELECT SUM(t_shirts.price - (t_shirts.price * (discounts.pct_discount / 100))) AS revenue
FROM t_shirts
INNER JOIN discounts ON t_shirts.t_shirt_id = discounts.t_shirt_id
WHERE t_shirts.brand = 'Makia' AND discounts.pct_discount > 0 AND CURDATE() = 'today'
LIMIT 5;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [31]:
sql_code = "SELECT SUM(t.price * t.stock_quantity * IFNULL((- d.pct_discount / 100), 1)) AS total_revenue FROM t_shirts t LEFT JOIN discounts d ON t.t_shirt_id = d.t_shirt_idWHERE t.brand = 'Makia';"
qns3 = db_chain.invoke(sql_code)

> Entering new SQLDatabaseChain chain...
SELECT SUM(t.price * t.stock_quantity * IFNULL((- d.pct_discount / 100), 1)) AS total_revenue FROM t_shirts t LEFT JOIN discounts d ON t.t_shirt_id = d.t_shirt_idWHERE t.brand = 'Makia';
SQLQuery:SELECT SUM(t.price * t.stock_quantity * IFNULL((- d.pct_discount / 100), 1)) AS total_revenue FROM t_shirts t LEFT JOIN discounts d ON t.t_shirt_id = d.t_shirt_id WHERE t.brand = 'Makia';
SQLResult: [(Decimal('343582.550000'),)]
Answer:The total revenue for all Makia brand t-shirts, taking into account any discounts, is $343,582.55.
> Finished chain.

In [33]:
q3 = print(qns3['result'])
q3

The total revenue for all Makia brand t-shirts, taking into account any discounts, is $343,582.55.

In [35]:
query4 = "SELECT SUM(t.price * t.stock_quantity * IFNULL((1 - d.pct_discount / 100), 1)) AS total_revenue FROM t_shirts t LEFT JOIN discounts d ON t.t_shirt_id = d.t_shirt_id WHERE t.brand IN ('Dressman', 'Halti');"
qns4 = db_chain.invoke(query4)
print(qns4)

> Entering new SQLDatabaseChain chain...
SELECT SUM(t.price * t.stock_quantity * IFNULL((1 - d.pct_discount / 100), 1)) AS total_revenue FROM t_shirts t LEFT JOIN discounts d ON t.t_shirt_id = d.t_shirt_id WHERE t.brand IN ('Dressman', 'Halti');
SQLQuery:SELECT SUM(t.price * t.stock_quantity * IFNULL((1 - d.pct_discount / 100), 1)) AS total_revenue FROM t_shirts t LEFT JOIN discounts d ON t.t_shirt_id = d.t_shirt_id WHERE t.brand IN ('Dressman', 'Halti');
SQLResult: [(Decimal('656550.200000'),)]
Answer:The total revenue for Dressman and Halti brands is 656550.20.
> Finished chain.
{'query': "SELECT SUM(t.price * t.stock_quantity * IFNULL((1 - d.pct_discount / 100), 1)) AS total_revenue FROM t_shirts t LEFT JOIN discounts d ON t.t_shirt_id = d.t_shirt_id WHERE t.brand IN ('Dressman', 'Halti');", 'result': 'The total revenue for Dressman and Halti brands is 656550.20.'}

In [37]:
q4 = print(qns4['result'])
q4

The total revenue for Dressman and Halti brands is 656550.20.

In [39]:
query5 = "How many yellow color Marimekko t shirts we have available?"
qns5 = db_chain.invoke(query5)
print(qns5)

> Entering new SQLDatabaseChain chain...
How many yellow color Marimekko t shirts we have available?
SQLQuery:SELECT COUNT(*) FROM t_shirts WHERE brand = 'Marimekko' AND color = 'Yellow'
SQLResult: [(24,)]
Answer:24
> Finished chain.
{'query': 'How many yellow color Marimekko t shirts we have available?', 'result': '24'}

In [41]:
q5 = print(qns5['result'])
q5

24

# Few Short Learning

In [47]:
few_shots = [
    {'Question' : "How many t-shirts do we have left for Makia in extra small size and white color?",
     'SQLQuery' : "SELECT COUNT(*) FROM t_shirts WHERE brand = 'Makia' AND size = 'XS' AND color = 'White'",
     'SQLResult': "Result of the SQL query",
     'Answer' : q1},
    {'Question': "How much is the price of the inventory for all large size t-shirts?",
     'SQLQuery':"SELECT SUM(price * stock_quantity) AS total_price FROM t_shirts WHERE size = 'L'",
     'SQLResult': "Result of the SQL query",
     'Answer': q2},
    {'Question': "If we have to sell all the Makia T-shirts today with discounts applied. How much revenue our store will generate (post discounts)?" ,
     'SQLQuery' : "SELECT SUM(t.price * t.stock_quantity * IFNULL((- d.pct_discount / 100), 1)) AS total_revenue FROM t_shirts t LEFT JOIN discounts d ON t.t_shirt_id = d.t_shirt_idWHERE t.brand = 'Makia';",
     'SQLResult': "Result of the SQL query",
     'Answer': q3} ,
     {'Question' : "If i sell all dressman and halti tshirts on discount how much revenue will i have?" ,
      'SQLQuery': "SELECT SUM(t.price * t.stock_quantity * IFNULL((1 - d.pct_discount / 100), 1)) AS total_revenue FROM t_shirts t LEFT JOIN discounts d ON t.t_shirt_id = d.t_shirt_id WHERE t.brand IN ('Dressman', 'Halti');",
      'SQLResult': "Result of the SQL query",
      'Answer' : q4},
    {'Question': "How many yellow color Marimekko t shirts we have available?",
     'SQLQuery' : "SELECT COUNT(*) FROM t_shirts WHERE brand = 'Marimekko' AND color = 'Yellow'",
     'SQLResult': "Result of the SQL query",
     'Answer' : q5
     }
]

# Creating embedding and Vector database

In [69]:
from langchain.prompts import SemanticSimilarityExampleSelector
from langchain_huggingface import HuggingFaceEmbeddings
from langchain.vectorstores import Chroma
from tqdm import tqdm, trange
import tf_keras as keras
from langchain.vectorstores import Chroma
from langchain.prompts import FewShotPromptTemplate
from langchain.chains.sql_database.prompt import PROMPT_SUFFIX, _mysql_prompt

In [53]:
embeddings = HuggingFaceEmbeddings(model_name='sentence-transformers/all-MiniLM-L6-v2')

to_vectorize = [" ".join(str(value) if value is not None else "" for value in example.values()) for example in few_shots]

In [55]:
to_vectorize

["How many t-shirts do we have left for Makia in extra small size and white color? SELECT COUNT(*) FROM t_shirts WHERE brand = 'Makia' AND size = 'XS' AND color = 'White' Result of the SQL query ",
 "How much is the price of the inventory for all large size t-shirts? SELECT SUM(price * stock_quantity) AS total_price FROM t_shirts WHERE size = 'L' Result of the SQL query ",
 "If we have to sell all the Makia T-shirts today with discounts applied. How much revenue our store will generate (post discounts)? SELECT SUM(t.price * t.stock_quantity * IFNULL((- d.pct_discount / 100), 1)) AS total_revenue FROM t_shirts t LEFT JOIN discounts d ON t.t_shirt_id = d.t_shirt_idWHERE t.brand = 'Makia'; Result of the SQL query ",
 "If i sell all dressman and halti tshirts on discount how much revenue will i have? SELECT SUM(t.price * t.stock_quantity * IFNULL((1 - d.pct_discount / 100), 1)) AS total_revenue FROM t_shirts t LEFT JOIN discounts d ON t.t_shirt_id = d.t_shirt_id WHERE t.brand IN ('Dressman', 'Halti'); Result of the SQL query ",
 "How many yellow color Marimekko t shirts we have available? SELECT COUNT(*) FROM t_shirts WHERE brand = 'Marimekko' AND color = 'Yellow' Result of the SQL query "]

In [61]:
cleaned_few_shots = [{k: str(v) if v is not None else '' for k, v in example.items()} for example in few_shots]

In [63]:
vectorstore = Chroma.from_texts(to_vectorize, embeddings, metadatas=cleaned_few_shots)

In [67]:
example_selector = SemanticSimilarityExampleSelector(
    vectorstore=vectorstore,
    k=2,
)

example_selector.select_examples({"Question": "How many Finlayson T shirts I have left in my store?"})

[{'Answer': '',
  'Question': 'How many t-shirts do we have left for Makia in extra small size and white color?',
  'SQLQuery': "SELECT COUNT(*) FROM t_shirts WHERE brand = 'Makia' AND size = 'XS' AND color = 'White'",
  'SQLResult': 'Result of the SQL query'},
 {'Answer': '',
  'Question': 'How many yellow color Marimekko t shirts we have available?',
  'SQLQuery': "SELECT COUNT(*) FROM t_shirts WHERE brand = 'Marimekko' AND color = 'Yellow'",
  'SQLResult': 'Result of the SQL query'}]

In [86]:
print(_mysql_prompt)

You are a MySQL expert. Given an input question, first create a syntactically correct MySQL query to run, then look at the results of the query and return the answer to the input question.
Unless the user specifies in the question a specific number of examples to obtain, query for at most {top_k} results using the LIMIT clause as per MySQL. You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in backticks (`) to denote them as delimited identifiers.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use CURDATE() function to get the current date, if the question involves "today".

Use the following format:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here

In [73]:
print(PROMPT_SUFFIX)

Only use the following tables:
{table_info}

Question: {input}

# Prompt Template

In [78]:
from langchain.prompts.prompt import PromptTemplate
from langchain.prompts import FewShotPromptTemplate

In [80]:
example_prompt = PromptTemplate(
    input_variables=["Question", "SQLQuery", "SQLResult","Answer",],
    template="\nQuestion: {Question}\nSQLQuery: {SQLQuery}\nSQLResult: {SQLResult}\nAnswer: {Answer}",
)

In [90]:
few_shot_prompt = FewShotPromptTemplate(
    example_selector=example_selector,  # Ensure this is using cleaned data
    example_prompt=example_prompt,      # Ensure this matches cleaned example format
    prefix= _mysql_prompt,
    suffix=PROMPT_SUFFIX,
    input_variables=["input", "table_info", "top_k"]
)

In [94]:
new_chain = SQLDatabaseChain.from_llm(llm, db, verbose=True, prompt=few_shot_prompt)

In [98]:
new_chain.invoke("If we have to sell all the Makia T-shirts today with discounts applied. How much revenue our store will generate (post discounts)?")

> Entering new SQLDatabaseChain chain...
If we have to sell all the Makia T-shirts today with discounts applied. How much revenue our store will generate (post discounts)?
SQLQuery:SELECT SUM(t.price * t.stock_quantity * IFNULL((- d.pct_discount / 100), 1)) AS total_revenue FROM t_shirts t LEFT JOIN discounts d ON t.t_shirt_id = d.t_shirt_id WHERE t.brand = 'Makia';
SQLResult: [(Decimal('343582.550000'),)]
Answer:343582.55
> Finished chain.

{'query': 'If we have to sell all the Makia T-shirts today with discounts applied. How much revenue our store will generate (post discounts)?',
 'result': '343582.55'}

# Different sections of this code is used in pycharm to create a Streamlit Interface